@using SamayaExam.Models
@model MemberUpdateVM
<div class="container">
    <div class="row">
       
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Enter Name">
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image">Image</label>
                <input asp-for="Image" class="form-control" placeholder="Enter Image">
                <span asp-validation-for="Image"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">CategoryName</label>
                <select asp-for="CategoryId">
                    @foreach (Category category in ViewBag.Categories)
                    {
                        <option value="@category.Id">@category.Title</option>
                    }
                </select>
                <span asp-validation-for="CategoryId"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>