@using SamayaExam.ViewModels.UserViewModel
@model LoginVM
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">

        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Enter Email">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" placeholder="Enter Password">
                <span asp-validation-for="Password"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>