@using SamayaExam.Models
@model List<Category>
<div class="container">
    <div class="row">
        <div class="row">
            <a asp-action="Create" asp-controller="Category" class="btn btn-success">Create</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <th scope="row">@category.Id</th>
                        <td>@category.Title</td>
                        <td>
                            <a asp-action="Update" asp-controller="Category" asp-route-id="@category.Id" class="btn btn-warning">Update</a>
                            <a asp-action="Delete" asp-controller="Category" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>