@using SamayaExam.Models
@model Category
<div class="container">
    <div class="row">

        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" placeholder="Enter Title">
                <span asp-validation-for="Title"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>